---
layout: default
---


<section class="intro">
  <div class="container">
      <h1>Learn everything about Bitcoin</h1>
      <p>Decentral support is a the unofficial, community driven Bitcoin support website. Which tries to answer Bitcoin related questions in a simple way. Check out one of the questions below.</p>
  </div>
</section>


<section class="construction">
    <div class="container">
        <h1>We are under construction</h1>
        <p>You can help us create and improve articles , to help people understand bitcoin</p>
        <div style="display: flex; justify-content: center;">
            <a href='/contribute' class='button'>Learn how to contribute</a>
        </div>
        <img src='/assets/images/construction.jpg'/>
    </div>
</section>



<section class="post-list">
  <div class="container">

    <h2>Questions..</h2>

    {% for post in site.questions %}
      <article class="post-item">
        <p><strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong> — <span> {{ post.content | strip_html | truncatewords: 40 }}</span> <a class="post-link readmore" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      </article>
    {% endfor %}
  </div>

  <div class="container">
    {% include pagination.html %}
  </div>
</section>
